<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome To The Todo App!</h1>
       

        <div *ngIf="isAuthenticated()">
                <div class="row">
                    <div class="col-md-8">
                            <h4 class="spacerx">Manage your tasks from one place</h4>
                    </div>

                    <div class="col-md-4">
                            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/task/new']">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span >
                                Create a new Task
                                </span>
                            </button>
                    </div>
                </div>


                
               
                <hr>
           
                <div class="row mb-2">
                    <div class="col-md-12">
                            <input type="text" placeholder="search. . ." class="form-control" (keyup)="filter($event)" />
                    </div>
                   
                </div>
            
            
                <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
                        <ngb-panel id="{{i}}" *ngFor="let task of tasks;let i = index" >
                          <ng-template ngbPanelHeader >
                              <div  class="border-card">

                              
                                <div class="card-type-icon with-border" >{{i+1}}</div>
                                <div class="content-wrapper">
                                <div class="label-group fixed">
                                <p class="title">Title</p>
                                <p class="caption">{{task.title}}</p>
                                </div>
                                <div class="min-gap"></div>
                                <div class="label-group">
                                <p class="title">Cateogy</p>
                                <p class="caption">{{task.category}}</p>
                                </div>
                               
                                <div class="min-gap"></div>
                                <div class="label-group">
                                <p class="title">Status</p>
                                <p class="caption">{{task.status ? "Complete":"Incomplete"}}</p>
                                </div>
                
                                <div class="min-gap"></div>
                                <div class="label-group">
                                <p class="title">Due Date</p>
                                <p class="caption">{{task.date | date:'mediumDate'}}</p>
                                </div>
                                </a>
                                    <div class="spacery">
                                            <button type="submit"
                                            [routerLink]="['/task', task.id, 'edit']"
                                            class="btn btn-warning btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/task', { outlets: { popup: task.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>

                                    <button ngbPanelToggle class="btn btn-info btn-sm"> Description</button>
                                    </div>
                                </div>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                           {{task.description}}
                           
                          
                          </ng-template>
                        </ngb-panel>




                       </ngb-accordion>
                
            
        </div>

        <div *ngIf="!isAuthenticated()">
            <p>Please sign in to view contents</p>
        </div>

    </div>
</div>
